@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
.navBar{
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.mary{
 color: #181818;
 font-weight: 800;
 font-size: 45px;

}
span{
    color:#FD6E0A;
}
ul{
    display: flex;
    align-items: baseline;
    list-style: none;
}
ul li{
  margin-right: 50px;
  
}
li a{
    text-decoration: none;
    color: #474747;
}
.primarybtn{
    background-color: #FD6E0A;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.baba{
    justify-content: space-between;
    display: flex;
    padding-left: 200px;
    align-items: center;
    }
    header{
        background-color: #fff8f3;
        background-image: url('images/header_bg.png'),url('images/developer.png');
        background-repeat: no-repeat;
        background-position: bottom right, left;
     }
    .runa{
        border: 1px solid #FD6E0A;
        color: #FD6E0A;
        background-color: rgba(255, 255, 255, 0.655);
        font-weight: 700px;
        font-size: 20px;
        margin: 30px;
        padding: 18px 20px;
        border-radius: 5px;
     }
     .my{
        font-weight: 600;
        font-size: 45px;
        color: #474747;
     }
     .hardy{
        font-weight: 700;
        font-size: 65px;
        color: #181818;
     }
     .dec{
        font-size: 18px;
        color: #757575;
        margin: 20px 0px 30px 0px;

     }
     .about{
        width: 1140px;
        height: 550px;
        background-color: #fff8f3;
        margin: 130px auto;
        border-radius: 10px;
        padding-top: 130px;
        padding-bottom: 130px;
        text-align: center;
        
     }
     .aboutme{

        margin: 0px 150px;
          
     }
     .fatherofson{
        display: flex;
        justify-content: space-around;
    
     }
     .aboutmeheading{
        font-weight: 700;
        font-size: 35px;
     }
     .aboutmepera{
        font-size: 18px;
        margin: 30px 30px;
        color: #757575;

     }
     .name{
        font-size: 20pz;
        color: #757575;

     }
     .bolder{
        font-weight: 700;
        font-size: 20px;
        color: #474747;
         
     }
     .whatido{
       margin: 0px 200px 130px;
       text-align: center;
     }
     .title{
        font-weight: 700;
        font-size: 35px;
     }
     .pera{
        padding: 30px 115px 50px;
        font-size: 18px;
        color: #757575;
     }
     .whatidoconteiner{
        display: flex;
        text-align: left;
     }
     .whatidoconteinerson{
       
        margin: 24px;
        padding: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
        border-radius: 5px;
     }
     .cardtitle{
        margin: 30px 0px 20px;
     }
     .summarytitle{
      text-align: center;
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 100px;

     }
     .commonforeduexp{
      display: flex;
      margin: 0px 200px;
     }
     .edu{
      margin-right: 70px;
     }
     .summeryexphed{
      font-weight: 700;
      font-size: 30px;
      color: #474747;
      margin-bottom: 30px;

     }
     .commentitle{
      font-weight: 700;
      font-size: 25px;
      color: #474747;

     }
     .commenpera{
      font-weight: 700;
      font-size: 20px;
      color: #757575;
      margin: 10px 0px 20px;
     }
     .commenperasm{
      font-size: 16px;
      color: #757575;

     }
     hr{
      margin: 30px 0px;
     }
     .downloadbtndiv{
      text-align: center;
      margin: 50px 0px 100px;
     }
     .footerajkaj{
      background-color: #fff8f3;
      padding: 130px 200px;
      display: flex;
      justify-content: space-between;

     }
     .footerson1{
      width: 50%;
      margin-right: 100px;
     }
     .footerson2{
      width: 50%;
     }
     .footertitle{
      font-weight: 700;
      font-size: 35px;
     }
     .footerpera{
      font-size: 16px;
      color: #474747;
      margin: 20px 0px 30px;

     }
     .twitter{
       margin: 0px 25px 0px;
     }
     .textinput{
      margin: 25px 0px;
      border: none;
      padding: 18px 300px 18px 30px;
      
     }
     .textarea{
      margin: 25px 0px;
      border: none;
      padding: 18px 300px 130px 30px;
      border-radius: 5px;
     }
     